body{
  font-family: Karla,sans-serif;
  font-weight: 400;
}

.img50{
  width: 15%;
}

.img80{
  width: 80%;
}

.name{
  color: #FBCD06;
  display: inline;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 12px 0;
  margin: 0 auto;
  overflow: hidden!important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detail{
  height: 50px;
  padding: 18px;
  border-radius: 0 0 15px 15px;
  color: #222;
  text-decoration: none;
}

.section1{
  padding: 40px;
}

.label{
  font-size: 42px;
  font-weight: 700;
  display: block;
  font-family: ubuntu;
  line-height: 52px;
}

.label2{
  margin-top: 20px;
  font-size: 18px;
  display: block;
}

.gambar{
  padding: 80px 0;
  background: url("asset/bg-step.5e05c61b.png") no-repeat;
  background-position-x: 1020px;
  margin-top: 80px;
}

.gambar2{
  background: url("asset/contact-us-bg.9784cfb9.png") right no-repeat;
  margin-right: 0;
}


.alamat{
  font-size: 18px;
  margin-left: 29px;
}

.section1 p {
  font-size: 16px;
  font-family: karla;
  line-height: 26px;
  margin-top: 20px;
}

.kotak{
  min-height: 220px;
  border-radius: 25px;
  background-color: #fbcd06;
  box-shadow: 4px 6px 31px 0 rgb(251 205 6 / 25%);
  color: #fff;
  margin-bottom: 30px;
}

.title{
  font-size: 42px;
  line-height: 52px;
  clear: both;
  color: #222;
  font-family: Ubuntu!important;
  font-weight: 600;
}


.background{
  background-image: url("asset/hero.jpg");
}

.kuning{
  color: #FBCD06;
}

.one{
  background-image: url("asset/bg-no1.417f5a5a.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 93px;
}

.two{
  background-image: url("asset/bg-no2.599bae25.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 93px;
}

.tree{
  background-image: url("asset/bg-no3.d6c80bee.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 93px;
}

.item-content{
  margin: 20px 30px;
}

.item-title{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

.description{
  text-align: left;
  margin-bottom: 45px;
  color: #989BAC;
  font-size: 20px;
  line-height: 30px;
}

.text-description{
  font-size: 20px;
  color: #989BAC;
  line-height: 30px;
  max-height: 100px;
  overflow: hidden;
}

.size12{
  font-size: 12px;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav{
    color: #ffffff !important;
}

.putih{
  color:white;
}

.copyright-footer {
    bottom: 0;
    width: 100%;
    z-index: 99;
    font-weight: 400;
    padding: 10px;
}